// Banner
section#banner.page-section
    .container
        .row.text-center
            h2.section-heading.text-uppercase Мишка в спячке
            //- h3.section-subheading.text-muted Свяжитесь с нами и задайте свои вопросы – взгляд со стороны бывает очень полезен.

            .col-md-3
            .col-md-6
                p.text-lead
                    | Нами принято решение уйти на некоторое время в спячку.
                    | Это значит, что некоторое время мы не будем принимать новые заказы по разработке
                    | и сопровождению.
                    | Базовые консультации остались доступны в индивидуальном порядке.
                    | Вы можете обратиться к нам по указанным ниже контактам.

            .col-md-3
