// Contact
section#contact.page-section
    .container
        .row.text-center
            h2.section-heading.text-uppercase Контакты
            h3.section-subheading.text-muted Свяжитесь с нами и задайте свои вопросы – взгляд со стороны бывает очень полезен.

            .col-md-4
                h5 Telegram
                p.text-muted
                    a(href='https://t.me/jtprogru', target="_blank")
                        | t.me/jtprogru
            .col-md-4
                h5 Signal/WhatsApp
                p.text-muted
                    a(href='tel:+79060272719', target="_blank")
                        | +79060272719

            .col-md-4
                h5 Email
                p.text-muted
                    a(href='mailto:m@bearonserver.ru', target="_blank")
                        | m@bearonserver.ru
