// Footer
footer.footer.py-4
    .container
        .row.align-items-center
            .col-lg-4.text-lg-start
                | Copyright &copy; Bear on Server 2022
            .col-lg-4.my-3.my-lg-0
                a.btn.btn-dark.btn-social.mx-2(href='https://twitter.com/jtprogru')
                    i.fab.fa-twitter
                //- a.btn.btn-dark.btn-social.mx-2(href='https://github.com/bearonserver')
                //-     i.fab.fa-github
                a.btn.btn-dark.btn-social.mx-2(href='https://t.me/bearonserver')
                    i.fab.fa-telegram
            .col-lg-4.text-lg-end
                a.link-dark.text-decoration-none.me-3(href='/privacy-policy.html') Privacy Policy
                a.link-dark.text-decoration-none(href='#!') Terms of Use
