// Navigation
nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
    .container
        a.navbar-brand(href='/')
            // TODO: необходим собственный логотип
            img(src='assets/img/navbar-logo.png', alt='...')
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
            | Меню
            i.fas.fa-bars.ms-1
        #navbarResponsive.collapse.navbar-collapse
            ul.navbar-nav.text-uppercase.ms-auto.py-4.py-lg-0
                li.nav-item
                    a.nav-link(href='#services') Услуги
                li.nav-item
                    a.nav-link(href='#portfolio') Портфолио
                li.nav-item
                    a.nav-link(href='#team') Команда
