
// Portfolio Grid
section#portfolio.page-section.bg-light
    .container
        .text-center
            h2.section-heading.text-uppercase Портфолио
            h3.section-subheading.text-muted Некоторые из проектов в которых ключевую роль играли члены нашей команды.
        .row
            .col-lg-6.col-sm-6.mb-4
                // Portfolio item 1
                .portfolio-item
                    a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal1')
                        .portfolio-hover
                            .portfolio-hover-content
                                i.fas.fa-plus.fa-3x
                        img.img-fluid(src='assets/img/portfolio/SammyBeauty/preview.png', alt='...')
                    .portfolio-caption
                        .portfolio-caption-heading SammyBeauty
                        .portfolio-caption-subheading.text-muted Инфраструктура
            .col-lg-6.col-sm-6.mb-4
                // Portfolio item 2
                .portfolio-item
                    a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal2')
                        .portfolio-hover
                            .portfolio-hover-content
                                i.fas.fa-plus.fa-3x
                        img.img-fluid(src='assets/img/portfolio/Mixit/preview.png', alt='...')
                    .portfolio-caption
                        .portfolio-caption-heading Mixit
                        .portfolio-caption-subheading.text-muted Инфраструктура



// Portfolio Modals
include portfolios/portfolio-sammybeauty
include portfolios/portfolio-mixit
