
section#services.page-section
    .container
        .text-center
            h2.section-heading.text-uppercase Услуги
            h3.section-subheading.text-muted Наша команда готова оказывать следующие услуги.
        .row.text-center
            .col-md-3
                span.fa-stack.fa-4x
                    i.fas.fa-circle.fa-stack-2x.text-primary
                    i.fas.fa-code.fa-stack-1x.fa-inverse
                h4.my-3 Обучение Golang
                p.text-muted
                    | Богатый практический опыт разработки на Golang как больших приложений с
                    | микросервисной архитектурой, так и простых средств автоматизации
                    | задач разработки и эксплуатации.
            .col-md-3
                span.fa-stack.fa-4x
                    i.fas.fa-circle.fa-stack-2x.text-primary
                    i.fas.fa-laptop.fa-stack-1x.fa-inverse
                h4.my-3 Обучение DevOps/SRE
                p.text-muted
                    | Наша команда имеет богатый практический опыт в DevOps, SRE и построении
                    | отказоустойчивой инфраструктуры для высоконагруженных веб-приложений
                    | различной направленности и масштаба.
            .col-md-3
                span.fa-stack.fa-4x
                    i.fas.fa-circle.fa-stack-2x.text-primary
                    i.fas.fa-laptop-code.fa-stack-1x.fa-inverse
                h4.my-3 Разработка Golang
                p.text-muted
                    | Наша команда готова реализовать проекты
                    | различной направленности и масштаба, придерживаясь
                    | лучших мировых практик в работе с кодом, а так же
                    | помочь вашей команде внедрить данные практики для
                    | облегчения собственной работы, уменьшения количества
                    | ошибок и снижения несогласованности между членами команды.
            .col-md-3
                span.fa-stack.fa-4x
                    i.fas.fa-circle.fa-stack-2x.text-primary
                    i.fas.fa-terminal.fa-stack-1x.fa-inverse
                h4.my-3 Dev&amp;Ops
                p.text-muted
                    | Опыт нашей команды позволит вам пережить резкий рост нагрузки без потерь и простоев,
                    | вне зависимости от архитектуры вашего приложения и готовности команд разработки и эксплуатации.
                    | Обучим ваших инженеров эксплуатации взаимодествию с командами разработки, а так же
                    | поможем выстроить процессы, чтобы вы могли работить без нас.
