
section#learnings.page-section
    .container
        .row.text-center
            h2.section-heading.text-uppercase Обучение
            h3.section-subheading.text-muted Имеем богатый опыт и готовы поделиться им с вами.
            // Грязный хак - не убирать, так смотрится красивее
            .col-md-1
            .col-md-5
                span.fa-stack.fa-4x
                    i.fas.fa-code.fa-stack-1x
                h4.my-3 Разработка на Golang
                p.text-muted
                    | Научим программировать на Golang и поможем добавить интересные проекты в портфолио.
                    | Пройдемся от самых основ до микросервисной архитектуры, научим
                    | контейнеризировать свое приложение и базово запускать его в Kubernetes.
            .col-md-5
                span.fa-stack.fa-4x
                    i.fas.fa-server.fa-stack-1x
                h4.my-3 DevOps &amp; SRE
                p.text-muted
                    | Вспомним про банальные <code>ps auwx</code> и <code>atop</code>, а после
                    | познакомимся с Zabbix и Prometheus и определимся "что и где лучше использовать",
                    | а главное объясним "почему". Ну и траблшутинг инфраструктуры никто не отменял.
            // Грязный хак - не убирать, так смотрится красивее
            .col-md-1

section#services.page-section
    .container
        .row.text-center
            h2.section-heading.text-uppercase Поможем бизнесу
            h3.section-subheading.text-muted Поможем правильно определить проблему и реализуем ее решение.
            .col-md-4
                span.fa-stack.fa-4x
                    i.fas.fa-laptop-code.fa-stack-1x
                h4.my-3 Разработка Golang
                p.text-muted
                    | Готовы взяться за разработку микросервисной архитектуры, а если ее еще нет, то поможем
                    | ее построить с применением лучших мировых практик в работе с кодом.
                    | А главное – передадим готовый и задокументированный продукт.
            .col-md-4
                span.fa-stack.fa-4x
                    i.fas.fa-terminal.fa-stack-1x
                h4.my-3 DevOps
                p.text-muted
                    | Оптимизируем инфраструктуру под нужды вашего продукта.
                    | Выстроим конвеер CI/CD и оптимизируем каждый из шагов во всех пайплайнах.
                    | Составим внятную документацию с указанием всех проблем и типовыми решениями.
            .col-md-4
                span.fa-stack.fa-4x
                    i.fas.fa-comments.fa-stack-1x
                h4.my-3 Процессы
                p.text-muted
                    | Обучим ваших инженеров эксплуатации взаимодествию с командами разработки, а командам разработки
                    | расскажем и покажем на примерах "что происходит с их кодом после <code>git commit -a -m "bug fix"</code>
                    | и <code>git push origin master</code>".

