
// Team
section#team.page-section.bg-light
    .container
        .text-center
            h2.section-heading.text-uppercase Наша команда
            h3.section-subheading.text-muted Мы способны превзойти ваши ожидания
        .row.align-items-center
            .col-lg-6
                .team-member
                    img.mx-auto.rounded-circle(src='assets/img/team/ivan-anfilatov.jpg', alt='...')
                    h4 Иван Анфилатов
                    p.text-muted Co-Founder, Lead Developer
                    a.btn.btn-dark.btn-social.mx-2(href='https://twitter.com/vlegioalaudae', target="_blank")
                        i.fab.fa-twitter
                    a.btn.btn-dark.btn-social.mx-2(href='https://github.com/t0pep0', target="_blank")
                        i.fab.fa-github
                    a.btn.btn-dark.btn-social.mx-2(href='https://t.me/pero_legiona', target="_blank")
                        i.fab.fa-telegram
            .col-lg-6
                .team-member
                    img.mx-auto.rounded-circle(src='assets/img/team/michael-savin.jpg', alt='...')
                    h4 Михаил Савин
                    p.text-muted Co-Founder, Lead DevOps
                    a.btn.btn-dark.btn-social.mx-2(href='https://twitter.com/jtprogru', target="_blank")
                        i.fab.fa-twitter
                    a.btn.btn-dark.btn-social.mx-2(href='https://github.com/jtprogru', target="_blank")
                        i.fab.fa-github
                    a.btn.btn-dark.btn-social.mx-2(href='https://www.linkedin.com/in/jtprogru', target="_blank")
                        i.fab.fa-linkedin-in
        .row
            .col-lg-8.mx-auto.text-center
                p.large.text-muted
                    | Однажды, медведи попали в машзалы ЦОД'а где работали наши сервисы и
                    | мы сделали всё, чтобы и пользователи нашего сервиса не заметили проблем,
                    | и медведи не пострадали.
                p.large
                    | "Медведь на Сервере это рядовое событие и к нему просто нужно быть готовым"

