doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Мишка на Сервере

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='js/fa-all.js')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.navbar-brand(href='#page-top')
                    img(src='assets/img/navbar-logo.png', alt='...')
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Меню
                    i.fas.fa-bars.ms-1
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ms-auto.py-4.py-lg-0
                        li.nav-item
                            a.nav-link(href='#services') Услуги
                        li.nav-item
                            a.nav-link(href='#portfolio') Портфолио
                        //- li.nav-item
                        //-     a.nav-link(href='#about') About
                        li.nav-item
                            a.nav-link(href='#team') Команда
                        //- li.nav-item
                        //-     a.nav-link(href='#contact') Contact
        // Masthead
        header.masthead
            .container
                .masthead-subheading Добро пожаловать в команду
                .masthead-heading.text-uppercase Мишка на Сервере
                //- a.btn.btn-primary.btn-xl.text-uppercase(href='#services') Чем мы занимаемся?

        // Services
        section#services.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Услуги
                    h3.section-subheading.text-muted Наша команда готова оказывать следующие услуги.
                .row.text-center
                    .col-md-3
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-code.fa-stack-1x.fa-inverse
                        h4.my-3 Обучение Golang
                        p.text-muted
                            | Богатый практический опыт разработки на Golang как больших приложений с
                            | микросервисной архитектурой, так и простых средств автоматизации
                            | задач разработки и эксплуатации.
                    .col-md-3
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-laptop.fa-stack-1x.fa-inverse
                        h4.my-3 Обучение DevOps/SRE
                        p.text-muted
                            | Наша команда имеет богатый практический опыт в DevOps, SRE и построении
                            | отказоустойчивой инфраструктуры для высоконагруженных веб-приложений
                            | различной направленности и масштаба.
                    .col-md-3
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-laptop-code.fa-stack-1x.fa-inverse
                        h4.my-3 Разработка Golang
                        p.text-muted
                            | Наша команда готова реализовать проекты
                            | различной направленности и масштаба, придерживаясь
                            | лучших мировых практик в работе с кодом, а так же
                            | помочь вашей команде внедрить данные практики для
                            | облегчения собственной работы, уменьшения количества
                            | ошибок и снижения несогласованности между членами команды.
                    .col-md-3
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-terminal.fa-stack-1x.fa-inverse
                        h4.my-3 Dev&amp;Ops
                        p.text-muted
                            | Опыт нашей команды позволит вам пережить резкий рост нагрузки без потерь и простоев,
                            | вне зависимости от архитектуры вашего приложения и готовности команд разработки и эксплуатации.
                            | Обучим ваших инженеров эксплуатации взаимодествию с командами разработки, а так же
                            | поможем выстроить процессы, чтобы вы могли работить без нас.


        // Portfolio Grid
        section#portfolio.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase Портфолио
                    h3.section-subheading.text-muted Некоторые из проектов в которых ключевую роль играли члены нашей команды.
                .row
                    .col-lg-6.col-sm-6.mb-4
                        // Portfolio item 1
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal1')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/SammyBeauty/preview.png', alt='...')
                            .portfolio-caption
                                .portfolio-caption-heading SammyBeauty
                                .portfolio-caption-subheading.text-muted Инфраструктура
                    .col-lg-6.col-sm-6.mb-4
                        // Portfolio item 2
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal2')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/Mixit/preview.png', alt='...')
                            .portfolio-caption
                                .portfolio-caption-heading Mixit
                                .portfolio-caption-subheading.text-muted Инфраструктура
                    //- .col-lg-4.col-sm-6.mb-4
                        // Portfolio item 3
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal3')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/3.jpg', alt='...')
                            .portfolio-caption
                                .portfolio-caption-heading Finish
                                .portfolio-caption-subheading.text-muted Identity


        // About
        //- section#about.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase О нас
                    h3.section-subheading.text-muted Краткий экскурс в нашу историю.
                ul.timeline
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/1.jpg', alt='...')
                        .timeline-panel
                            .timeline-heading
                                h4 2009-2011
                                h4.subheading Our Humble Beginnings
                            .timeline-body
                                p.text-muted
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/2.jpg', alt='...')
                        .timeline-panel
                            .timeline-heading
                                h4 March 2011
                                h4.subheading An Agency is Born
                            .timeline-body
                                p.text-muted
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/3.jpg', alt='...')
                        .timeline-panel
                            .timeline-heading
                                h4 December 2015
                                h4.subheading Transition to Full Service
                            .timeline-body
                                p.text-muted
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/4.jpg', alt='...')
                        .timeline-panel
                            .timeline-heading
                                h4 July 2020
                                h4.subheading Phase Two Expansion
                            .timeline-body
                                p.text-muted
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                    li.timeline-inverted
                        .timeline-image
                            h4
                                | Be Part
                                br
                                | Of Our
                                br
                                | Story!

        // Team
        section#team.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase Наша команда
                    h3.section-subheading.text-muted Мы способны превзойти ваши ожидания
                .row.align-items-center
                    .col-lg-6
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/ivan-anfilatov.jpg', alt='...')
                            h4 Иван Анфилатов
                            p.text-muted Co-Founder, Lead Developer
                            a.btn.btn-dark.btn-social.mx-2(href='https://twitter.com/vlegioalaudae')
                                i.fab.fa-twitter
                            a.btn.btn-dark.btn-social.mx-2(href='https://github.com/t0pep0')
                                i.fab.fa-github
                            a.btn.btn-dark.btn-social.mx-2(href='https://t.me/pero_legiona')
                                i.fab.fa-telegram
                    .col-lg-6
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/michael-savin.jpg', alt='...')
                            h4 Михаил Савин
                            p.text-muted Co-Founder, Lead DevOps
                            a.btn.btn-dark.btn-social.mx-2(href='https://twitter.com/jtprogru')
                                i.fab.fa-twitter
                            a.btn.btn-dark.btn-social.mx-2(href='https://github.com/jtprogru')
                                i.fab.fa-github
                            a.btn.btn-dark.btn-social.mx-2(href='https://www.linkedin.com/in/jtprogru')
                                i.fab.fa-linkedin-in
                .row
                    .col-lg-8.mx-auto.text-center
                        p.large.text-muted
                            | Однажды, медведи попали в машзалы ЦОД'а где работали наши сервисы и
                            | мы сделали всё, чтобы и пользователи нашего сервиса не заметили проблем,
                            | и медведи не пострадали.
                        p.large
                            | "Медведь на Сервере это рядовое событие и к нему просто нужно быть готовым"

        // Footer
        footer.footer.py-4
            .container
                .row.align-items-center
                    .col-lg-4.text-lg-start
                        | Copyright &copy; Bear on Server 2021
                    .col-lg-4.my-3.my-lg-0
                        a.btn.btn-dark.btn-social.mx-2(href='https://twitter.com/jtprogru')
                            i.fab.fa-twitter
                        a.btn.btn-dark.btn-social.mx-2(href='https://github.com/bearonserver')
                            i.fab.fa-github
                        a.btn.btn-dark.btn-social.mx-2(href='https://t.me/jtprogru_channel')
                            i.fab.fa-telegram
                    .col-lg-4.text-lg-end
                        a.link-dark.text-decoration-none.me-3(href='#!') Privacy Policy
                        a.link-dark.text-decoration-none(href='#!') Terms of Use

        // Portfolio Modals
        include includes/portfolio-sammybeauty
        include includes/portfolio-mixit
        //- include includes/portfolio-modal-3

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
