extends layout
block content
    //- block masthead
    //-     include includes/masthead
    //- block services
    //-     include includes/services
    //- block portfolio
    //-     include includes/portfolio
    //- block team
    //-     include includes/team
    block banner
        include includes/banner
    block contacts
        include includes/contacts

