extends layout
block content
    block masthead
        include includes/masthead
    block services
        include includes/services
    block portfolio
        include includes/portfolio
    block team
        include includes/team
    block contacts
            include includes/contacts

