extends layout

block content
    // Policy
    section#policy.page-section
        .container
            .text-center
                h2.section-heading.text-uppercase Вопросы клиентам
            .row
                p.lead
                    | С момента обращения в бюро мы привлекаем к общению людей, которые будут заниматься вашим проектом. Мы сразу введём в курс дела команду — ведь самое главное говорится вначале, потом начинаются детали. Поэтому мы просим клиентов письменно ответить на наши вопросы, чтобы понять, как мы можем быть полезны и кто в бюро займётся проектом. Пишите: <a href="mailto:info@bearonserver.ru" target="_blank">info@bearonserver.ru</a>
                .col-md-6
                    p.lead
                        | 1. О бизнесе. Как вы работаете? На чём зарабатываете? Где берёте клиентов? Какой канал продаж самый эффективный?
                        | Как устроена ваша компания? Благодаря чему она развивается? В чём её сила? Какова главная цель компании сегодня?
                        | Мы хотим ясно представить себе модель вашего бизнеса. Нам важна не только картина для клиентов, но и взгляд изнутри.

                    p.lead
                        | 2. Главная задача. Какая ближайшая задача сейчас стоит перед вашей компанией? Каковы ваши ближайшие планы? Чего вы хотите добиться?
                        | Для нас очень важно представить себе пользу нашего возможного сотрудничества для задач компании. Мы просим вас описать задачу не в наших дизайнерских терминах — «сделать понятный сайт», «спроектировать удобный интерфейс», а в терминах своего бизнеса — «повысить продажи», «снизить потери», «развенчать мифы».

                    p.lead
                        | 3. Возможное решение. Как может быть решена ваша задача? Чем, по вашему мнению, мы можем оказаться для вас полезны? Почему вы считаете, что эффективнее улучшать сайт (или другой продукт с нашей помощью), а не работу отдела продаж или службы поддержки?
                        | Что бы вы хотели сделать в первую очередь? Что бы вы сделали, если бы у вас было полтора месяца на проект от начала дизайна до запуска?
                        | Когда проект должен быть закончен, открыт, запущен? Почему эта дата важна?
                        | Что вы будете считать успехом проекта? Как вы будете оценивать, удался ли проект или провалился?
                .col-md-6
                    p.lead
                        | 4. Ожидания. В каком виде ожидаете получить результат? Каковы ваши ожидания по взаимодействию? Что для вас важно в дизайнерах, с которыми хотите работать?
                        | Что вызывает у вас опасения? Что может пойти не так?
                        | В чём, на ваш взгляд, мы можем быть максимально полезны для вас? Чем мы можем дополнить вашу команду?
                        | Какова структура вашей компании? Кто будет работать над проектом с вашей стороны? Кто и как будет принимать главные решения о проекте в целом и о дизайне в частности? За кем последнее слово?
                        | Какова ваша личная роль в компании и проекте?
                        | Какие ещё компании или организации будут участвовать в проекте? Как и в какой роли?
                        | Почему вы думаете, что для вас будем полезны именно мы?
                        | Какие особенности вашей компании могут упростить или усложнить работу над проектом или отдельными его частями?
                        | Как вы выбираете исполнителя? Сколько компаний вы рассматриваете кроме нас? Когда вы рассчитываете сделать выбор?
