//
// Colors
//

// Override Bootstrap color variables

$main-color1: #2c2c2c;
$main-color2: #353535;
$main-color3: #4f4f4f;
$main-color4: #bcbcbc;
$main-color5: #333741;

// Override Bootstrap state colors variables

$primary: $main-color5;

// Override Bootstrap contrast ratio

$min-contrast-ratio: 1.5;
